<!-- views/cadastro.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Post</title>
</head>
<body>
    <%- include('../partials/menu') %>
    <h1>Cadastro de Post</h1>
    <form action="/posts" method="POST">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br>
        <label for="conteudo">Conteúdo:</label><br>
        <textarea id="conteudo" name="conteudo" required></textarea><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
